.container {
  border: 1;
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 259.5px;
  background-color: #FFF;
  color: #2c2c2c;
  padding: 1.125rem;
  font-family: 'Helvetica Neue';
  margin: 2rem;
}

.sectionTitle {
  font-size: 25;
  font-weight: 700;
  margin: 3rem 0 1rem 0;
}

.customButton {
  font-size: 15;
  margin: 1rem;
  cursor: pointer;
}

.logList {
  font-size: 15;
  margin: 1rem;
  color: #006DB7;
  cursor: pointer;
}

.log {
  margin: 1rem;
  font-size: 14;
}